@import 'base';
@import 'page-title';
@import 'post-list';

.home-layout {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;

  > .page-header {
    width: 100%;
    box-sizing: border-box;
  }

  > .post-list {
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }
}