@import (reference) 'base';

.page-title {
  font-size: 32px;
  font-family: 'Times';
  font-weight: 400;
  margin: 0;
  padding: 16px 8px 12px 8px;
  border-bottom: 4px solid @c-primary;
  background-color: @c-background;
  box-sizing: border-box;
}