@import 'base';

.post-list {
  display: block;
  font-family: 'Times';
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: @c-background;

  > .postrow {
    display: flex;
    position: relative;
  }

  > .postrow > .title {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    animation-fill-mode: forwards;

    font-size: 24px;
    line-height: 18px;
    font-family: 'Times';
    padding: 14px;
    text-decoration: none;
    border-bottom: 2px solid #ddd;
    color: black;

    &:active, &.active {
      background-color: #ddd;
    }
  }

  > .postrow > .title > .postdate {
    font-size: 0.6em;
    color: @c-muted;
  }

  > .postrow.-newpost > .title {
    text-align: center;
    color: @c-muted;
    border-bottom: none;
  }

  > .postrow > .buttons {
    position: absolute;
    display: flex;
    height: 100%;
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
  }

  > .postrow > .buttons > .button {
    display: inline-flex;
    flex: 1;
    padding: 14px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    background: #ccc;
    color: #333;
    text-decoration: none;
  }

  > .postrow > .buttons > .button.-danger {
    background: @c-primary;
    color: white;
  }
}

@keyframes slideback {
  100% {
    transform: none;
  }
}