@import (reference) 'base';

.post-list {
  overflow-x: hidden;

  > .postrow {
    display: -webkit-flex;
    display: flex;
    position: relative;
    min-height: 50px;
  }

  > .postrow > .title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;

    font-size: 18px;
    padding: 8px;
    text-decoration: none;
    border-bottom: 2px solid #ddd;
    color: black;
  }

  > .postrow:last-child > .title {
    border-bottom: none;
  }

  > .postrow > .title > .postdate {
    font-size: 0.6em;
    color: @c-muted;
  }

  > .postrow.-newpost {
    min-height: 0;
  }

  > .postrow.-newpost > .title {
    text-align: center;
    color: @c-muted;
  }

  > .search-bar {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #ddd;
  }
}