@import 'page-title';
@import 'post-text';

.viewpost-layout {
  max-width:320px;
  align-items: center;

  > .page-title {
    width: 100%;
  }

  > .post-text {
    flex: 1;
    width: 100%;
    background: #fff;
  }
}