doctype html
html
  head
    title= pageTitle || "Posts"
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    link(rel="apple-touch-icon", href="/images/ios-icon.png")
    link(rel="apple-touch-startup-image", href="/images/ios-startup.png")


    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata', type='text/css')
    link(rel='stylesheet' href='/styles/base.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    script(src='/app.js', defer)

  body
    #root
      .loading-screen
        img.logo(src='/images/posts.png')