extends layout

block head
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster+Two")
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  #content.index-layout
    .site-title
      h1.header Posts

    form.login-form(method='post', action='/login')
      .inputrow
        label.label(for="ipt-username") Username
        input.text#ipt-username(name="username", required)
      .inputrow
        label.label(for="ipt-password") Password
        input.text#ipt-password(type="password", name="password", required)
      .submitrow
        button.submit(type='submit') Log in
