extends layout

block head
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster+Two")
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .index-body
    .title
      h1 Posts

    .login
      button Log in
