doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageTitle || "Posts"
    link(rel='stylesheet', href='/styles/style.css')
    block head

  body
    block content