extends layout

block content
  h1 Login

  form(method="post")
    label Username
      input(name="username")
    br
    label Password
      input(type="password", name="password")
    br
    button Login