extends layout

block content
  div(id='react-root')!= react

  script window.data = !{data}
  script(src='/dist/components.js')
  script.
    window.addEventListener("contextmenu", function(e) { e.preventDefault(); });