extends layout

block content
  h1 New Post

  form(method='post')
    label Title
      input(type='text', name='title')
    br
    label Body
      textarea(name='body')
    br
    button(type='submit') Submit