.postlist-layout {
  display: flex;
  flex-direction: column;

  > .page-header {
    width: 100%;
    box-sizing: border-box;
  }

  > .post-list {
    -webkit-flex: 1;
    width: 100%;
    box-sizing: border-box;

    /* momentum scroll */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  > .tool-bar {
    width: 100%;
  }
}