

.post-list {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  > .postrow {
    display: -webkit-flex;
    display: flex;
    position: relative;
    min-height: 50px;
  }

  > .postrow > .title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;

    font-size: 18px;
    padding: 8px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    color: black;
  }

  > .postrow:last-child > .title {
    border-bottom: none;
  }

  > .postrow:last-child .tool-bar {
    border-bottom: none;
  }

  > .postrow > .title > .postdate {
    font-size: 0.6em;
    color: @c-muted;
  }

  > .postrow.-newpost {
    min-height: 0;
  }

  > .postrow.-endrow {
    min-height: 40px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: @c-muted;
  }

  > .postrow.-newpost > .title {
    text-align: center;
    color: @c-muted;
  }

  > .search-bar {
    width: 100%;
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  > .empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: @c-muted;

    > .title {
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 0.5em;
    }
  }
}