@import 'colors';

.post-text {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 8px;
  background-color: @c-background;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 18px;
  line-height: 1.5;

  & > p:last-child:after {
    color: @c-muted;
    content: ' ■';
  }

  & > blockquote {
    border-left: 4px solid #444;
    margin: 0;
    padding-left: 8px;
  }

  & > hr {
    width: 80%;
  }

  & > p > img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}