.postlist-layout {
  > .page-header {
    width: 100%;
    box-sizing: border-box;
  }

  > .post-list {
    -webkit-flex: 1;
    width: 100%;
    box-sizing: border-box;
  }

  > .tool-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}