@import 'colors';
@import 'post-header';

.post-text {
  box-sizing: border-box;
  max-width: 100%;
  padding: 8px;
  background-color: @c-background;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  > .body {
    font-size: 16px;
    line-height: 1.2;
  }

  > .body > p:last-child:after {
    color: @c-muted;
    content: ' ■';
  }

  > .body > blockquote {
    // border-left: 4px solid #444;
    margin: 0;
    padding-left: 16px;
  }

  > .body > hr {
    width: 80%;
  }

  > .body > p > img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}